canvas {
    display: block;
    margin: auto;
}

template {
    display: none;
}

.color-input .form-control {
    display: initial;
}

.color-input input.form-control {
    width: calc(100% - 2.25rem - 2px);
}

.color-input button.form-control {
    height: calc(2.25rem + 2px);
    width: calc(2.25rem + 2px);
    position: relative;
    top: 5px;
}

.overlay--wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.overlay {
    position: fixed;
    top: 25vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
}

.overlay textarea {
    width: 100%;
    height: 100%;
}
